@font-face {
   font-family: 'Electrolize';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/Joon%20Park/Documents/GitHub/syntechsrobotics.github.io/fonts/Electrolize/regular.ttf') format('truetype');
}
