@font-face {
   font-family: 'zektonbo';
   font-display: swap;
   src: url('file:///C:/Users/justs/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-01-04_211222/fonts/zektonbo/font.ttf');
}
