@font-face {
   font-family: 'zektonbo';
   font-display: swap;
   src: url('file:///E:/@@@@@Joon/Joon%20Park/Documents/Joon's%20HW/Syntechs%20Robotics/Feb%207%20Website%20Backup/fonts/zektonbo/font.ttf');
}
