@font-face {
   font-family: 'zektonbo';
   font-display: swap;
   src: url('file:///C:/Users/Joon%20Park/Documents/Joon's%20HW/Syntechs%20Robotics/Website%20Version%20History/5.8/fonts/zektonbo/font.ttf');
}
